{% extends "website/base_website.html" %}

{% load static %}

{% block content %}

      <div class="container col-md-12" style="height:87vh;overflow-y:scroll;background-color:transparent;margin-top:50px;padding-top:20px;">
        <div class="col-md-5" style="background-color:transparent;">
          &nbsp;
        </div>
        <div class="col-md-7">
          <img class="center-block" style="height:30%;width:30%;padding-right:30px;padding-bottom:20px;" src="{% static "website/images/OurBeliefs.jpg" %}" alt="Generic placeholder image">
          <p class="lead">
            <span style="font-weight:bold;">We believe</span><br />
            in one God-the Father, Son, and Holy Spirit.
            <br /><br />
            <span style="font-weight:bold;">We believe</span><br />
            in the verbal plenary inspiration of the accepted Canon of Scriptures as originally given and believe
            that they are infallibly and uniquely authoritative and free from error of any sort in all matters
            with which they deal, scientific and historical as well as moral and theological.<br />
            (II Timothy 3:16; 1 Corinthians 2:13)
            <br /><br />
            <span style="font-weight:bold;">We believe</span><br />
            that man is born with a fallen nature, and is, therefore, inclined to evil, and that continually.
            <br /><br />
            <span style="font-weight:bold;">We believe</span><br />
            that the finally impenitent are hopelessly and eternally lost.
            <br /><br />
            <span style="font-weight:bold;">We believe</span><br />
            that the atonement through Jesus Christ is for the whole human race; and that whosoever repents and
            believes on the Lord Jesus Christ is justified and regenerated and saved from the dominion of sin.
            <br /><br />
            <span style="font-weight:bold;">We believe</span><br />
            that believers are to be sanctified wholly, subsequent to regeneration, through faith in the
            Lord Jesus Christ.
            <br /><br />
            <span style="font-weight:bold;">We believe</span><br />
            that the Holy Spirit bears witness to the new birth, and also to the entire sanctification of believers.
            <br /><br />
            <span style="font-weight:bold;">We believe</span><br />
            that our Lord will return, the dead will be raised, and the final judgment will take place.
            <br /><br />
      </p>
        </div>
      </div>

{% endblock %}