{% extends "website/base_website.html" %}

{% load static %}

{% block content %}

      <div class="container col-md-12" style="height:87vh;overflow-y:scroll;background-color:transparent;margin-top:50px;padding-top:20px;">
        <div class="col-md-5" style="background-color:transparent;">
          &nbsp;
        </div>
        <div class="col-md-7">
          <p class="lead">
            <h2 class="featurette-heading tcn-heading"><span class="text-muted">Contact</span> &amp; Directions</h2>
            <p class="lead">
                <p class="lead">Email Staff</p>
                <p style="font-weight:bold;padding-left:30px;"><a href="mailto:pastortomward@gmail.com">Sr. Pastor Tom Ward</a></p>
                <p style="font-weight:bold;padding-left:30px;"><a href="mailto:jeff.ackenback@tricountynaz.net">Associate Pastor / Youth Pastor Jeff Ackenback</a></p>
                <p style="font-weight:bold;padding-left:30px;"><a href="mailto:office@tricountynaz.net">Office Administrator Lori Lee</a></p>
            </p>
            <br /><br />
            <p class="lead">
                Tri-County Church of the Nazarene<br />
                4778 Tylersville Road Hamilton, OH 45011 513-874-4575<br /><br />
                Directions<br />
                From I-75S: Take Route 129 exit; follow to Route 747 exit; turn left at light at end of exit; follow
                Route 747 to Tylersville Road; turn right; turn right into church lot.<br /><br />
                From I-75N: Take Union Center Boulevard exit; follow to Route 747 and turn right; follow
                Route 747 to Tylersville Road; turn left; turn right into church lot.<br /><br />
                From I-275: Take Route 747 North exit; follow to Tylersville Road; turn left; turn right into church lot.<br /><br />
            </p>
            <iframe src="http://www.bing.com/maps/embed/viewer.aspx?v=3&amp;cp=39.359954~-84.451429&amp;lvl=14&amp;w=760&amp;h=600&amp;sty=r&amp;typ=d&amp;pp=4778%20Tylersville%20Rd%2C%20Hamilton%2C%20OH%2045011~~39.362667~-84.461085&amp;ps=&amp;dir=0&amp;mkt=en-us&amp;src=SHELL&amp;form=BMEMJS" height="800" width="100%" frameborder="0"></iframe>
          </p>
        </div>
      </div>

{% endblock %}
