{% extends "website/base_website.html" %}

{% load static %}

{% block content %}

      <div class="container col-md-12" style="height:87vh;overflow-y:scroll;background-color:transparent;margin-top:50px;padding-top:20px;">
        <div class="col-md-5" style="background-color:transparent;">
          &nbsp;
        </div>
        <div class="col-md-7">
          <img class="center-block" style="height:30%;width:30%;padding-right:30px;padding-bottom:20px;" src="{% static "website/images/Kidz-First-Logo.jpg" %}" alt="Generic placeholder image">
          <h2 class="featurette-heading tcn-heading">Kid's Life <span class="text-muted">Children's Ministries</span></h2>
          <p class="lead">
            We in Kid’s Life believe that the lives of children are impacted most effectively by a holistic approach.
            A holistic approach impacts lives mentally, physically, spiritually and socially.
            <ul class="lead">
                <li>Mentally through education to children’s minds.</li>
                <li>Physically through compassion to have children’s basic needs met.</li>
                <li>Spiritually through evangelism to reach children for Christ.</li>
                <li>Socially through discipleship to strengthen children’s faith.</li>
            </ul>
          </p>
          <p class="lead">
            <span style="font-weight:bold;">Sunday School</span><br />
            Children from newborn thru 6th grade participate in
            age appropriate small group classes each Sunday morning at 9:30 a.m.
            <br /><br />
            <span style="font-weight:bold;">Children's Church</span><br />
            Childrens Church implements fun and adventure
            in our Children’s Church time each week for children in Kindergarten thru 4th grade on Sunday mornings.
            Children participate in an age appropriate worship service.
            <br /><br />
            <span style="font-weight:bold;">Bible Bucks & The Gospel Store</span><br />
            Bible Bucks are earned by kids who participate in the AWANA program. Bible Bucks are awarded for
            attendance, Bible memorization, bringing a friend, etc. Once a month, Bible Bucks may be traded
            for prizes at the Gospel Store.
            <br /><br />
            <span style="font-weight:bold;">AWANA</span><br />
            AWANA is the Wednesday kids ministry in which children from preschool thru 6th grade focus on spiritual
            formation, ministry, Nazarene heritage and beliefs, and scouting. Benson Buddies is a special program
            for children ages Toddler through Kindergarten. Wednesdays at 6:30 p.m.
            <br /><br />
            <span style="font-weight:bold;">Kidz Biz</span><br />
            Kidz Biz is the summer program that includes great music, games, lesson time and special days for
            children Toddler thru 6th grade. Kidz Biz meets on Wednesday evenings at 7:00 p.m. during the summer months.
            <br /><br />
            <span style="font-weight:bold;">Vacation Bible School</span><br />
            Vacation Bible School is held each summer for children Preschool through 6th grade.
            <br /><br />
      </p>
        </div>
      </div>

{% endblock %}