{% extends "website/base_website.html" %}

{% load static %}

{% block content %}

      <div class="container col-md-12" style="height:87vh;overflow-y:scroll;background-color:transparent;margin-top:50px;padding-top:20px;">
        <div class="col-md-5" style="background-color:transparent;">
          &nbsp;
        </div>
        <div class="col-md-7">
          <img class="center-block" style="height:30%;width:30%;padding-right:30px;padding-bottom:20px;" src="{% static "website/images/PodcastHeader.jpg" %}" alt="Generic placeholder image">
          <h2 class="featurette-heading tcn-heading">Unscripted <span class="text-muted">(Pastor Tom's Podcast)</span></h2>
          <p class="lead">
          </p>
          <p class="lead">
          </p>
        </div>
      </div>

{% endblock %}